name: ci
on:
  pull_request:
  push:
    branches:
    - master
  schedule:
  - cron: '00 01 * * *'

jobs:
  test:
    name: test
    env:
      # For some builds, we use cross to test on 32-bit and big-endian
      # systems.
      CARGO: cargo
      # When CARGO is set to CROSS, TARGET is set to `--target matrix.target`.
      TARGET:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        build:
        - pinned
        - stable
        - stable-32
        - stable-mips
        - beta
        - nightly
        - macos
        - win-msvc
        - win-gnu
        include:
        - build: pinned
          os: ubuntu-latest
          rust: 1.36.0
        - build: stable
          os: ubuntu-latest
          rust: stable
        - build: stable-32
          os: ubuntu-latest
          rust: stable
          target: i686-unknown-linux-gnu
        - build: stable-mips
          os: ubuntu-latest
          rust: stable
          target: mips64-unknown-linux-gnuabi64
        - build: beta
          os: ubuntu-latest
          rust: beta
        - build: nightly
          os: ubuntu-latest
          rust: nightly
        - build: macos
          os: macos-latest
          rust: stable
        - build: win-msvc
          os: windows-latest
          rust: stable
        - build: win-gnu
          os: windows-latest
          rust: stable-x86_64-gnu
    steps:
    - name: Checkout repository
      uses: actions/checkout@v1
      with:
        submodules: true

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        profile: minimal
        override: true

    - name: Use Cross
      if: matrix.target != ''
      run: |
        cargo install cross
        echo "CARGO=cross" >> $GITHUB_ENV
        echo "TARGET=--target ${{ matrix.target }}" >> $GITHUB_ENV

    - name: Build
      run: ${{ env.CARGO }} build --verbose $TARGET

    - name: Build docs
      run: ${{ env.CARGO }} doc --verbose $TARGET

    - name: Tests
      if: matrix.build != 'pinned'
      run: ${{ env.CARGO }} test --verbose $TARGET

    - name: No Std Tests
      if: matrix.build != 'pinned'
      run: ${{ env.CARGO }} test --no-default-features --verbose $TARGET

      # If you are wondering why we run tests in release mode, it's
      # because sometimes tests in debug mode hide undefined behavior:
      # https://stackoverflow.com/q/52433389/433785
    - name: Release tests
      if: matrix.build != 'pinned'
      run: ${{ env.CARGO }} test --release --verbose $TARGET

    - name: Compile benchmarks
      if: matrix.build == 'stable'
      run: cargo bench --verbose --no-run $TARGET

    - name: Compile fuzz
      if: matrix.build == 'nightly'
      run: |
        cargo install cargo-fuzz
        cargo fuzz build fuzz_highway
